/* RESUME-BUTTON */
.resume-btn {
  background: #e64c49;
  padding: .5em .7em;
  border-radius: 2%;
  margin-right: 1.5rem;
}
.resume-btn:hover {
  background: #fc6966;
}

/* HERO-HEADER */
.typewriter-header {
  background: linear-gradient(43deg, #a162e8 0%, #f7ce68 46%, #85ffbd 100%);
  background-size: 300%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 144px;
  animation: glow-effect 6s ease-in-out infinite alternate;
}

@keyframes glow-effect {
  0% { background-position: 0px 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0px 50%; }
}

/* PROJECTS- */
.behance-icon {
  width: 24px;
  opacity: 0.95;
}

.image-container img {
  border-radius: 2%;
}

/* CONTACT_PAGE & FOOTER */
.rocket-gif,
.bio-pic {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.rocket-gif:hover{
  -webkit-filter: none;
  filter:none;
}

/* tooltip */
.tooltiptext {
  visibility: hidden;
  text-align: center;
  position: relative;
  bottom: 130px;
  font-size: 12px;
  font-weight: 100;
  opacity: .9;
  margin-left: 100px;
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.tooltip:hover ~ .tooltiptext {
  visibility: visible;
}

/* ENLARGE-EFFECT */
.enlarge-icon {
  transition: all .05s ease-out;
}

.enlarge-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.main-cont {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

/* MENU-HOVER EFFECT */
.nav * {
  transition: all .35s ease;
}

.nav-link {
  padding: .4em .7em;
  position: relative;
  font-size: 18px;
}
.nav-link::before,
.nav-link:after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}
.nav-link::before {
  content: '';
  top: 0;
  transform: translate(-100%, 50%);
}
.nav-link:after {
  content: '';
  bottom: 0;
  transform: translate(100%, -50%)
}
.nav-link:hover:before,
.nav-link:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}
/* projects nav-link */
.nav-projects::before {
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  right: 0;
}
.nav-projects:after {
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  left: 0;
}
.nav-projects:hover {
  color: #44d170;
}
/* skills nav-link */
.nav-skills::before {
  border-top: 3px solid #ffd058;
  border-left: 3px solid #dba00b;
  left: 0;
}
.nav-skills:after {
  border-bottom: 3px solid #ffd058;
  border-right: 3px solid #e2b646;
  right: 0;
}
.nav-skills:hover {
  color: #f7ce68;
}
/* contact nav-link */
.nav-contact::before {
  border-top: 3px solid #a162e8;
  border-right: 3px solid #7122ca;
  right: 0;
}
.nav-contact:after {
  border-bottom: 3px solid #7122ca;
  border-left: 3px solid #a162e8;
  left: 0;
}
.nav-contact:hover {
  color: #b87aff;
}

/* -------------------------------- 
HEADER DESCRIPTION / TAGLINE FADE UP FX
-------------------------------- */
.line {
  height: 112px;
}

/* flipping class and key frames*/
.flipX {
  animation: 1s anim-flipX ease infinite;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }

  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}

/* lineup class and keyframes */
.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
  animation-iteration-count: 3;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* DISPLAY-PROJECTLINKS ON HOVER */
 .lotje-mcdonald-photography-container,
 .torotoro-container,
 .prelude-2021-container,
 .jack-robert-photography-container,
 .ticket-trade-container,
 .toughlove-redesign-container,
 .tourism-nz-booking-app-container,
 .earth-tongue-container {
  position: relative;
 } 

.lotje-mcdonald-photography-image,
.torotoro-image,
 .prelude-2021-image,
 .jack-robert-photography-image,
 .ticket-trade-image,
 .toughlove-redesign-image,
 .tourism-nz-booking-app-image,
 .earth-tongue-image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.lotje-mcdonald-photography-container:hover .lotje-mcdonald-photography-image,
.torotoro-container:hover .torotoro-image,
 .prelude-2021-container:hover .prelude-2021-image,
 .jack-robert-photography-container:hover .jack-robert-photography-image,
 .ticket-trade-container:hover .ticket-trade-image,
 .toughlove-redesign-container:hover .toughlove-redesign-image,
 .tourism-nz-booking-app-container:hover .tourism-nz-booking-app-image,
 .earth-tongue-container:hover .earth-tongue-image {
  opacity: 0.5;
}

.lotje-mcdonald-photography-container:hover .middle,
.torotoro-container:hover .middle,
 .prelude-2021-container:hover .middle,
 .jack-robert-photography-container:hover .middle,
 .ticket-trade-container:hover .middle,
 .toughlove-redesign-container:hover .middle,
 .tourism-nz-booking-app-container:hover .middle,
 .earth-tongue-container:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background: linear-gradient(43deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 180, 1) 46%, rgba(0, 100, 200, 1) 100%);
  background-size: 300%;
  background-clip: border-box;
  animation: glow-btn 5s ease-in-out infinite;
  border-radius: 2%;
  padding: 16px 32px;
  font-family: Roboto;
}

/* Glowing button project link */
@keyframes glow-btn {
  0% { background-position: 0px 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0px 50%; }
}

/* -------------------------------- 
GLOWING UNDERLINE FOR EMAIL LINK
-------------------------------- */
.glow {
  background:
    linear-gradient(
      to right,
      rgb(158, 158, 158),
      rgb(158, 158, 158)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 1px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.glow:hover {
  background-size: 0 1px, 100% 2px;
}


/* -------------------------------- 
SLIGHT WOBBLE EFFECT
-------------------------------- */
.wobble-effect-y-1 {
  animation: wobble-y 5.8s 1s linear infinite;
}

.wobble-effect-x-1 {
  animation: wobble-x 4.8s 1s linear infinite;
}

@keyframes wobble-y {
  0%{transform:translateY(0px)}
  25%{transform:translateY(1px)}
  50%{transform:translateY(0px)}
  75%{transform:translateY(-2px)}
  100%{transform:translateY(0px)}
}

@keyframes wobble-x {
  0%{transform:translateX(0px)}
  25%{transform:translateX(2px)}
  50%{transform:translateX(0px)}
  75%{transform:translateX(-1px)}
  100%{transform:translateX(0px)}
}

/* TABLET/MOBILE SIZE */
@media only screen and (max-width: 768px) {
  .project-titles {
    padding-top: 10px;
  }

  .project-img {
    padding: 0;
  }

  .nav-link {
    font-size: 16px;
  }
}
@media only screen and (max-width: 424px) {
  .typewriter-header {
    font-size: 2.5rem;
    height: 120px;
  }
}